pip
pip
Flask==0.10.1
Flask-Login==0.3.2
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.1
Flask-Uploads==0.2.0
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
SQLAlchemy==1.0.13
WTForms==2.1
Werkzeug==0.11.10
coverage==4.1
flipflop==1.0
guess-language==0.2
itsdangerous==0.24
ordereddict==1.1
pyDes==2.0.1
python-openid==2.2.5
