{% extends "admin/base.html" %}

{% block head %}
  <style>
    td:first-child {
      width: 20%;
      text-align: center;
    }
  </style>
{% endblock %}

{% block content_header %}
  <div class="row">
    <div class="col-sm-12">
      <ol class="breadcrumb">
        <li><a href="{{ url_for('admin.contest', filter_pass=1) }}">申请编辑</a></li>
      </ol>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-flag"></i> 申请</h3>
      <div class="pull-right">
        <label class="label label-success" style="font-size: 16px;">
          {{ contest.result }}
        </label>
      </div>
    </div>
    <div class="box-body no-padding">
      <table class="table table-responsive table-bordered" style="vertical-align: middle;">
        <tbody>
        <tr><td>竞赛中文名</td><td>{{ contest.name_cn }}</td></tr>
        <tr><td>竞赛英文名</td><td>{{ contest.name_en }}</td></tr>
        <tr><td>竞赛等级</td><td>{{ contest.level_name }}</td></tr>
        <tr><td>所属竞赛系列</td><td>{{ contest.series_name or '' }}</td></tr>
        <tr><td>竞赛类型</td><td>{{ contest.type }}</td></tr>
        <tr><td>竞赛官网网址</td><td>{{ contest.site or '' }}</td></tr>
        <tr><td>主办方</td><td>{{ contest.organizer }}</td></tr>
        <tr><td>承办方</td><td>{{ contest.co_organizer }}</td></tr>
        <tr><td>日期</td><td>{{ contest.start_date.strftime('%Y/%m/%d') }} -
                {{ contest.end_date.strftime('%Y/%m/%d') }}</td></tr>
        <tr><td>竞赛地点</td><td>{{ contest.place }}</td></tr>
        <tr><td>预算</td><td>总费用： {{ contest.budget or '' }}<br>
              方案： {{ contest.budget_text or '' }}</td></tr>
{#        <tr><td>面向专业</td><td>{{ contest.subject or '' }}</td></tr>#}
{#        <tr><td>预计参赛人数</td><td>{{ contest.student_num or 0 }}</td></tr>#}
{#        <tr><td>指导教师人数</td><td>{{ contest.teacher_num or 0 }}</td></tr>#}
        </tbody>
      </table>
    </div>
  {% if contest.is_pass %}
    <div class="box-footer text-center">
      <form class="form-inline" method="post">
        <button type="submit" class="btn btn-flat btn-primary">确定</button>
      </form>
    </div>
  {% endif %}
  </div>
</div>
</div>
{% endblock %}

{% block script %}
{% endblock %}
