{% extends "admin/base.html" %}
{% from "macro/_page.html" import pagination_widget %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger alert-dismissible" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> 错误</h4>
        <p id="alert-msg"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-trophy"></i> 奖项管理</h3>
        </div>
        <div class="box-body no-padding">
          <div class="list-box-controls">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default btn-sm">
                <input type="radio" name="filter_pass" value="0" autocomplete="off"> 所有
              </label>
{#              <label class="btn btn-default btn-sm">#}
{#                <input type="radio" name="filter_pass" value="1" autocomplete="off"> 未审核1#}
{#              </label>#}
{#              <label class="btn btn-default btn-sm">#}
{#                <input type="radio" name="filter_pass" value="-1" autocomplete="off"> 已审核#}
{#              </label>#}
            </div>
            <div class="pull-right">
              {{ pagination_widget(pagination, '.contest', 'pagination-sm') }}
            </div>
          </div>
          <table class="table table-bordered awards-table table-condensed">
            <thead><tr>
              <th width="25%">竞赛名称</th>
              <th width="10%">竞赛档次</th>
              <th width="10%">竞赛级别</th>
              <th width="25%">主办方</th>
              <th width="25%">操作</th>
            </tr></thead>
            <tbody>
            {% if not contest_list %}
              <tr><td colspan="6"><h2>暂空</h2></td></tr>
            {% else %}
            {% for contest in contest_list %}
              <tr id="contest{{ contest.id }}">
              <td><b>{{ contest.name_cn }}</b></td>
              <td>
                {% if not contest.is_pass %}
                <label class="label label-danger">{{ '未审核' }}</label>
                {% else %}
                  <label class="label label-success">{{ contest.result }}</label>
                {% endif %}
              </td>
              <td>{{ contest.level_name }}</td>
              <td>{{ contest.organizer }}</td>
              <td>
                <div class="btn-group btn-group-sm">
                    {% if contest.result and department %}
                         <a class="btn btn-default btn-flat btn-sm" target="_blank"
                         href="{{ url_for('admin.awards_add', id=contest.id) }}">添加奖项</a>
                         <a class="btn btn-default btn-flat btn-sm" target="_blank"
                         href="{{ url_for('admin.awards', id=contest.id) }}">查看奖项</a>
{#                        <a class="btn btn-default btn-flat btn-sm" target="_blank"#}
{#                         href="{{ url_for('admin.awards', id=contest.id) }}">查看奖项</a>#}
                    {% elif not department and contest.result %}
                         <a class="btn btn-default btn-flat btn-sm" target="_blank"
                         href="{{ url_for('admin.awards', id=contest.id) }}">查看奖项</a>
                    {% else %}
                        <label class="label label-danger">未审核</label>
                    {% endif %}
                </div>

              </td>
              </tr>
            {% endfor %}
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="delModal" tabindex="-1"
     role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">警告</h4>
      </div>
      <div class="modal-body">
        <h4>确定删除选定竞赛项以及其所有奖项！</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger del-item">确认</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="applyModal" tabindex="-1"
     role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">定档</h4>
      </div>
      <div class="modal-body">
        <h4>定档</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger del-item">确认</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script>
    var filter_pass = '{{ filter_pass }}';

    function make_filter_pass() {
      var $input = $('input[name="filter_pass"]');
      $input.each(function() {
        var $self = $(this);
        if ($self.val() === filter_pass) {
          $self.attr('checked', true);
          $self.parent().addClass('active');
        }
      });
      $input.on('change', function() {
        var $selected = $('input[name="filter_pass"]:checked');
        window.location.href = '{{ url_for('admin.pre_award', filter_pass='') }}' + $selected.val();
      });
    }

    $(document).ready(function() {
      make_filter_pass();

      var $container = $('.contest-container');

      $('.to_delete_item').on('click', function() {
        var id = $(this).data('id');
        $('.del-item').data('contest', id);
      });

      $('.del-item').on('click', function() {
        var url = "{{ url_for('admin.contest_del') }}";
        var id = $(this).data('contest');
        var data = { 'contest_id' : id };
        $('#delModal').modal('hide');
        $.post(url, data, function(response) {
          if (response.ret == 'OK') {
            var $items = $('#contest' + id);
            $container.masonry().masonry('remove', $items).masonry('layout');
          } else {
            $('#alert-msg').html(response.ret);
            $('.alert-danger').fadeIn();
          }
        });
      });

    });
  </script>
{% endblock %}
