{% extends "admin/base.html" %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger alert-dismissible" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> 错误</h4>
        <p id="alert-msg"></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-flag"></i>
            <b style="color: #3c8dbc;">
            {% for l in level_list %}
                {% if filter_pass == level_list.index(l) %}
                [{{ l }}{{ '级' }}]
                {% elif filter_pass == -1 %}
{#                [{{ '所有' }}]#}
                {% endif %}
            {% endfor %}
            </b>
            奖项统计表</h3>
        </div>

        <div class="box-body no-padding">
          <div class="list-box-controls">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default btn-sm">
                <input type="radio" name="filter_pass" value="-1" autocomplete="off"> 所有
              </label>
              {% for l in level_list %}
                  <label class="btn btn-default btn-sm">
                      <input type="radio" name="filter_pass" value={{ level_list.index(l) }} autocomplete="off">
                      {{ l }}{{ '级' }}
                  </label>
              {% endfor %}
            </div>
          </div>
         <div style="padding-right: 17px;padding-left: 13px;margin-right: auto;margin-left: auto;">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered">
                {% if not awards_num %}
                <tr><td colspan="6" align="center"><h2>暂空</h2></td></tr>
                {% else %}
                 <thead>
                 <tr>
                     <th>#</th>
                     {% for l in level_list %}
                         {% if filter_pass == level_list.index(l) %}
                         <th colspan={{ list_len }}>{{ l }}{{ '级奖项统计表' }}</th>
                         {% endif %}
                         {% if filter_pass == -1 %}
                             <th colspan={{ number[level_list.index(l)] }}>{{ l }}{{ '级奖项统计表' }}</th>
                         {% endif %}
                     {% endfor %}

                 </tr>
                 </thead>
				<thead>
					<tr>
						<th></th>
                        {% if filter_pass == -1 %}
                         {% for l in list %}
                             {% for n in awards_level %}
                            {% if l in n %}
						    <th>{{ n }}</th>
                            {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endif %}

                        {% for l in level_list %}
                        {% if filter_pass == level_list.index(l) %}
                           {% for n in awards_level %}
                            {% if l in n %}
						    <th>{{ n }}</th>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
					</tr>
				</thead>
				<tbody>
                {% set i = 0 %}
                {% for y in year_select %}
					<tr>
                        <td style="font-size: large;text-align: center">{{ y }}</td>
                        {% if filter_pass == -1 %}
                        {% set m = list_len * i %}
                        {% set ln = list_len + i * list_len %}
                        {% for m in range(m,ln) %}
                            <td style="font-size: large;text-align: center">{{ awards_num[m] }}</td>
                        {% endfor %}
                        {% endif %}

                        {% for l in level_list %}
                        {% if filter_pass == level_list.index(l) %}
                        {% set m = list_len * i %}
                        {% set ln = list_len + i * list_len %}
                        {% for i in range(m,ln) %}
                            <td style="font-size: large;text-align: center">{{ awards_num[i] }}</td>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
					</tr>
                    {% set i = i + 1 %}
                {% endfor %}
				</tbody>
                {% endif %}
			</table>
		</div>
	</div>
    </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    var filter_pass = '{{ filter_pass }}';

    function make_filter_pass() {
      var $input = $('input[name="filter_pass"]');
      $input.each(function() {
        var $self = $(this);
        if ($self.val() === filter_pass) {
          $self.attr('checked', true);
          $self.parent().addClass('active');
        }
      });
      $input.on('change', function() {
        var $selected = $('input[name="filter_pass"]:checked');
        window.location.href = '{{ url_for('admin.statistics_form_1', filter_pass='') }}' + $selected.val();
      });
    }

    $(document).ready(function() {
      make_filter_pass();

    });
  </script>
{% endblock %}
